.panel {
	padding: 25px;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5;
	

}
p {
    text-align:left;
	font-size:1.1rem;
	color:white;
}
	 h1{
	 color:white;
	 
	 }
h7{
color:white;
font-size:1.5rem;
}
#container{

width: 841px;
margin: 0 auto;
	
}

body
{

background-repeat:no-repeat;
background-color: gray;
}
